div.content{
    height: 30%;
    width: 100%;
    position: relative; 
    ion-card{
        position: absolute;
        width: inherit;
        bottom: 0;
        z-index: 2;
        background: rgba(black,0.6);
        ion-card-title{
            font-size: large;
        }
    }
}

ion-item::part(native){
    div.item-inner{
        padding-inline-end:0;

    }
    padding-inline-end:0;
}

ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0;
}


ion-slides.imgContainer{
    height: 100%;
    width: 100%;
    ion-buttons {
        z-index: 5;
        top: 3%;
        position: absolute;
        right: -5%;
        ion-icon{
            font-size: 2.5em;
            color: gray;
        }
      }

}

.swiper-slide {
    display: block;
}
