<div class="content">
  <ion-slides *ngIf="viewEntered" class="imgContainer" #Slides [options]="sliderOpts">
    <ion-slide  *ngFor="let photo of Item.product.image"
    [ngStyle]="{
      'background' :'url(/api/' + photo.url + ')',
      'background-size' :'cover',
      'background-repeat' :'no-repeat',
      'background-position' :'center center'
    }">
    <ion-buttons>
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>es uno de los entremeses favoritos de las fiestas puertorriqueñas</ion-card-subtitle> -->
      <ion-card-title >{{Item.product.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

<ion-content>
  <ion-grid fixed="true" >
    <ion-row>
      <ion-col  size="12" size-sm="6" class="ion-no-padding">
        <ion-card >
          <ion-card-header>
            <ion-card-subtitle>Descripcion</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="overflow-y:scroll; overflow-x:hidden; height: auto; max-height: 350px;">
            <p>{{Item.product.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12" size-md="6">
                  <ion-item lines="none">
                    <ion-label position="floating">Precio</ion-label>
                    <ion-icon color="danger" slot="start" name="cash-outline"></ion-icon>
                    <ion-input type="text" [value]="Item.product.price | currency"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-item lines="none">
                    <ion-label position="floating">Preparacion</ion-label>
                    <ion-icon color="danger" slot="start" name="timer-outline"></ion-icon>
                    <ion-input type="text" [value]="Item.product.price + ':00 minutes'"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="addCarrito()" [disabled]="this.addButton" expand="block" fill="outline" color="danger" shape="round">
          <ion-label>Agregar al pedido</ion-label>
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>