<ion-header>
  <ion-toolbar >
  <ion-buttons slot="start">
    <ion-button (click)="onExit()">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>{{this.Category.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let products of this.Category.products">
        <ion-card (click)="viewProduct(products)">
          <ion-card-content class="ion-no-padding">
            <ion-slides mode="md">
              <ion-slide *ngFor="let image of products.product.image " class="ion-no-padding">
                <img [src]="getImage(image.formats.thumbnail.url)" alt="" srcset="">
              </ion-slide>
            </ion-slides>
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>{{products.product.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
