/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ion-modals
.ModalPlatesInfoComponent-class{
    --width: 85vw;
    --height: 85vh;
    --border-radius: 16px;
    --backdrop-opacity:0.9;
}

ion-modal.my-custom-class-viewInfo{
    --width: 95vw;
    --height: 90vh;
    --border-radius: 16px;
    --backdrop-opacity:0.6 !important;
}

// ion-item
ion-item::part(native) {
    //WRITE ALL YOUR CSS RULES HERE
    --inner-padding-end: 0px;
    /** and lots more **/
}

// ion-picker
div.picker-toolbar-cancel{
    .picker-button.sc-ion-picker-md.picker-button{
        color: var(--ion-color-danger-shade);
    }
}
div.picker-toolbar-button {
    .picker-button.sc-ion-picker-md.picker-button{
        color: var(--ion-color-danger);
    }
}
.picker-prefix, .picker-suffix, .picker-opt.picker-opt-selected {
    color: var(--ion-color-danger);
}

//customClass

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-img.customIcon{

        display: block;
        color:aqua;
        width: 48px;
        height:48px;

}