<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-title  class="ion-margin">Selecciona un categoria</ion-title>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="6" *ngFor="let category of this.Categorys">
        <ion-card button (click)="onSelect(category)">
          <ion-card-content class="ion-text-center">
            <ion-label>{{category.name}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center">
      <ion-col size="6" >
        <ion-button (click)="goToOrder()" expand="block"  shape="round">
          <ion-label>Ver Pedidos</ion-label>
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid fixed="true">
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="goToOrder()" color="danger" expand="block" fill="outline" shape="round">
            <ion-icon slot="start" name="restaurant"></ion-icon>
            <ion-label>Pedido</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="requestInnkeeper()" [disabled]="this.awaitRequest"  color="primary" expand="block" fill="outline" shape="round">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label *ngIf="!this.awaitRequest">Solicitar</ion-label>
            <ion-label *ngIf="this.awaitRequest">{{this.timer$ | async | time}}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>